<!DOCTYPE html>
<html>
<head>
    <title>
        Read All
    </title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />    

    
</head>
<body>

<div id="content">
    
    <div id="leftcol">

        <h2>Dojo {{ dojo.id }}</h2>
        <p>Name: {{ dojo.name}} </p>
        
        <table class="displaytable">
            <tr>
                <th class="tableitem">First Name</th>
                <th class="tableitem">Last Name</th>
                <th class="tableitem">Age</th>
            </tr>
            {% for ninja in dojo.ninjas %}
            <tr>
                <td class="tableitem">{{ ninja.first_name }}</td>
                <td class="tableitem">{{ ninja.last_name }}</td>
                <td class="tableitem">{{ ninja.age }}</td>
            </tr>
            {% endfor %}
        </table>
    
        <a href="/dojos" class="bluebutton">Back</a>
    
</div>

</body>
</html>