body {
    display:flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

h1 {
    color: black;
    align-items: left;
    justify-content: center;
    text-decoration:underline;
    font-weight:bold;
    
}

#content {
    display:flex;
    align-items: center;
    width:800px;
    flex-direction: column;
    font-family: sans-serif;
}

.formdisplay{
    padding: 10px;
    margin:10px;
    flex-direction:column;
    display:flex;
    justify-content: space-between;

}

#game {
    flex-direction:row;
    display:flex;
    justify-content: space-between;
    padding:10px;
}

#label {
    flex-direction:row;
    display:flex;
    justify-content: space-between;
    padding:10px;
    align-items: center;
}

.card {
    background-color:dimgrey;
    color:white;
    display:flex;
    flex-direction:column;
    border: 1px solid black;
    margin: 10px;
    padding-left: 5px;
    width:200px;
    padding:10px;
}

#goldcount {
    border: 1px solid black;
    width:300px;
    margin: 10px;
    padding-left: 5px;
}

#info {
    flex-direction:column;
    display:flex;
    justify-content: space-between;
    padding:10px;
    border:1px solid black;
    width:600px;
}

.clickbutton {
    border:2px solid black;
    color:white;
    background-color:white;
}

.greentext {
    color:green;
    line-height:0px;
    padding:0px;
}

.redtext {
    line-height:0px;
    color:red;
    padding:0px;
}
