<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Books</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row align-items-start">
        <div class="col">
            <h1>All Authors that have Favorited {{book.title}}</h1>
            <table>
                {% for author in book.authors_who_favorited %}
                <tr><td>{{author.name}}</td></tr>
                {% endfor %}
            </table>
        </div>
        <div class="col">
        <form action="/author/addfav" method="post" class="col-6">
            <h2 class="text-info">Authors to Favorite</h2>
            <input type="hidden" name="book_id" value="{{book.id}}">
                <div class="form-group">
                    <label for="author_id">Book:</label>
                    <select name="author_id" class="form-control" >
                    {% for author in unfavorited_authors %}
                        <option value="{{author.id}}">{{author.name}}</option>
                    {% endfor %}
                    </select>
                </div>
                <input type="submit" value="Add Book" class="btn btn-primary">
            </form>
        </div>
    </div>
    </div>
</body>
</html>

