<!DOCTYPE html>
<html>
<head>
    <title>
        Counter
    </title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

    
</head>
<body>

    <div id="content">
        <div id="formdisplay">
            {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                    <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/process" method="post">
                <div id="info">
                    <div>Your Name:</div> 
                    <div><input type="text" name="name"></div>
                </div>
                <div id="info">
                    <div>Dojo Location:</div>
                    <select name="location">
                        <option value="none">None</option>
                        {% for location in locations %}
                        <option value="{{dojos.location}}">{{dojos.location}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="info">
                    <div>Favorite Language:</div>
                    <div>
                        <select name="language">
                            <option value="none">None</option>
                            {% for lang in languages %}
                            <option value="{{dojos.lang}}">{{dojos.lang}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="info">
                    <div>Comment (Optional):</div> <div><textarea name="comment"></textarea></div>
                </div>
                <div id="info">
                    <button name="submit" class="bluebutton">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>