<!DOCTYPE html>
<html>
<head>
    <title>
        Login
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
</head>
<body>

    <div class="d-flex justify-content-around">
            <div class="col-4 p-4 bg-dark text-light">
                <h2 class="text-primary">Register</h2>
                <form action="/register" method="post" >
                    <div class="form-group">                        
                            {% with messages = get_flashed_messages(category_filter=['register']) %}
                            {% if messages %}               
                            {% for message in messages %}           
                            <p class="alert alert-danger">{{message}}</p>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div class="form-group">
                            <label for="first_name">First Name:</label>
                            <input class="form-control" type="text" name="first_name"></input>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name:</label>
                            <input type="text" class="form-control" name="last_name"></input>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" name="email"></input>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" name="password"></input>
                        </div>
                        <div class="form-group">
                            <label for="password_c">Confirm Password:</label>
                            <input type="password" class="form-control" name="password_c"></input>
                        </div>
                        <div class="form-group">
                            <button name="submit" class="btn btn-primary">Submit</button>
                        </div>
                        </form>
            </div>
            <div class="col-4 p-4 bg-dark text-light">
                <h2 class="text-success">Login</h2>
                <form action="/login" method="post">
                    <div class="form-group">        
                        
                        {% with messages = get_flashed_messages(category_filter=['login']) %}     <!-- declare a variable called messages -->
                        {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                        <p class="alert alert-danger">{{message}}</p>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" name="email" class="form-control"></input>
                    </div>
                    <div class="form-group">   
                        <label for="password">Password:</label>
                        <input type="password" name="password" class="form-control"></input>
                    </div>
                    <div class="form-group">   
                        <button name="submit" class="btn btn-success">Submit</button>
                    </div>
                        </form>
            </div>
    </div>

</body>
</html>